@inherits BlazoredMenuItemBase

@if (ChildContent != null)
{
    <li class="@CssString">
        @ChildContent
    </li>
}
else
{
    <li class="@CssString">
        <NavLink href="@MenuItem.Link" Match="@MenuItem.Match">
            @MenuItem.Title
        </NavLink>
    </li>
}
