@inherits BlazoredSubMenuBase

<li class="@CssString" disabled="@(!IsEnabled)">
    <span onclick="@ToggleSubMenu"><i>@Icon</i> @Header</span>
    <ul class="blazored-sub-menu">
        @if (ChildContent != null)
        {
            @ChildContent
        }
        else
        {
            foreach (var item in MenuItems)
            {
                if (item.IsVisible)
                {
                    <BlazoredMenuItem MenuItem="@item" />
                }
            }
        }
    </ul>
</li>