@inherits BlazoredSubMenuBase
@using Microsoft.AspNetCore.Components.Web

<li class="@CssString" disabled="@(!IsEnabled)">
    @if (HeaderTemplate != null)
    {
        <span role="button" tabindex="0" @onclick="ToggleSubMenu" @onkeydown="KeyDownHandler">@HeaderTemplate <i class="@IconCss">@Icon</i></span>
    }
    else
    {
        <span role="button" tabindex="0" @onclick="ToggleSubMenu" @onkeydown="KeyDownHandler">@Header <i class="@IconCss">@Icon</i></span>
    }

    <ul class="blazored-sub-menu">
        @if (MenuTemplate != null)
        {
            @MenuTemplate
        }
        else
        {
            foreach (var item in MenuItems)
            {
                @if (item.IsSubMenu && item.IsVisible)
                {
                    <BlazoredSubMenu Header="@item.Title"
                                     IsEnabled="@item.IsEnabled"
                                     IconClassToClose="@this.IconClassToClose"
                                     IconClassToOpen="@this.IconClassToOpen"
                                     MenuItems="@item.MenuItems.Build(x => x.Position)" />
                }
                else if (!item.IsSubMenu && item.IsVisible)
                {
                    <BlazoredMenuItem MenuItem="@item" IsEnabled="@item.IsEnabled" />
                }
            }
        }
    </ul>
</li>