@inherits BlazoredMenuItemBase
@using Microsoft.AspNetCore.Components.Routing

@if (ChildContent != null)
{
    <li class="@CssString" disabled="@(!IsEnabled)">
        @ChildContent
    </li>
}
else
{
    if (IsEnabled)
    {
        <li class="@CssString">
            <NavLink href="@MenuItem.Link" Match="@MenuItem.Match">
                @MenuItem.Title
            </NavLink>
        </li>
    }
    else
    {
        <li class="@CssString" disabled>
            @MenuItem.Title
        </li>
    }
}
